.footer {
  background: rgba(0, 0, 0, 0.9); /* Transparent black background */
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 9999;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  margin: 0;
}

/* Add the animation */
.social-links a {
  color: #343235;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  font-size: 20px;
}

.social-links a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .footer {
    padding: 16px 0;
  }
}
